:root {
  --color-1: #1a202c;
  --color-2: #1e1e1e;
  --color-3: #2d3748;
  --color-4: #5a4dcf;
  --color-5: #6c5ce7;
  --color-6: #718096;
  --color-7: #cbd5e0;
  --color-8: #e0e7ff;
  --color-9: #e2e8f0;
  --color-10: #f7fafc;
  --color-11: #f9fafb;
  --color-12: #ffffff;
  --color-13: red;
  --color-14: white;
}